<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>{%block title%}{%endblock title%}</title>
</head>
<body>
    {%block content%}
    {% endblock content%}
    {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Log In</a></p>
    {% endif %}
</body>
    {%block script%}
    {%endblock script%}

</html>
