{%extends 'osc/base.html'%}
{% block title%} Control {%endblock title%}
{% block content%}
    <h1 style="margin-top: 3px;">Oscillator Control Interface</h1>

    <button id="mybutton1" type="button" onclick="setEnabled(true)">Enable</button>
    <button id="mybutton2" type="button" onclick="setEnabled(false)">Disable</button><br/>
    <span id="mylabel">Value: None</span><br/>
    <a href="/">Home</a>

{%endblock content%}
{%block script %}
<script>
    base_url = `${window.location.hostname}:${window.location.port}/control`;

    const websocket = new WebSocket(`ws://${base_url}`)

    websocket.onmessage = function(event){
        let span = document.getElementById("mylabel");
        const obj = JSON.parse(event.data)
        span.textContent = "Value: " + obj.value
    }

    function setEnabled(value) {
        websocket.send(`{"command":"set_enable","value":${value}}`);
    }


</script>
{% endblock script %}
