{%extends 'osc/base.html'%}
{% block title%} Control {%endblock title%}
{% block content%}
    <h1 style="margin-top: 3px;">Graph</h1>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <span id="mylabel">Value: None</span><br/>
    <p><a href="/">Home</a></p>

{%endblock content%}
{%block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
    const maxCount = 100;

    function emptyData() {
        var data = [];
        for (i = 0; i < maxCount; ++i) {
            data.push(0);
        }
        return data;
    }

    function generateLabels() {
        var data = [];
        for (i = -maxCount + 1; i <= 0; ++i) {
            data.push(i);
        }
        return data;
    }

    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: generateLabels(),
            datasets: [{
                label: 'Cosine',
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1,
                data: emptyData()
            }]
        }
    });

    base_url = `${window.location.hostname}:${window.location.port}/graph`;

    const websocket = new WebSocket(`ws://${base_url}`)

    websocket.onmessage = function(event){
        const obj = JSON.parse(event.data)
        chart.data.datasets[0].data.shift();
        chart.data.datasets[0].data.push(obj.value);
        chart.update();
        let span = document.getElementById("mylabel");
        span.textContent = "Value: " + obj.value
    }


</script>
{% endblock script %}
