{%extends 'osc/base.html'%}
{% block title%} Home {%endblock title%}
{% block content%}
    <h1 style="margin-top: 3px;">Django Oscillator Interface Demo</h1>

    <a href="/graph">Live Graph</a>
    <a href="/control">Control Interface</a>
{%endblock content%}
